:root {
	--theme-color: #041235;
	--text-color: #fff;
	--blue-color: #179eff;
	--color-environment: #bcda7e;
	--color-social: #6257e2;
	--color-social-opacity: #6257e260;
	--color-governance: #2ac28b;
	--bg-color-light: #f2f0ed;
}

p,
button,
a,
text,
div {
	font-family: 'NeutralStd';
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'FamiljenGrotesk';
	font-weight: 400;
	text-wrap: balance;
}

p,
button,
a,
text,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-color);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1 {
	font-size: 3em;
	line-height: 0.8;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.75em;
}
h5 {
	font-size: 1.5em;
}

ul,
li {
	color: var(--text-color);
}
