p,
button,
a,
text {
	font-family: 'NeutralStd';
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'FamiljenGrotesk';
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}
